/* CSS declarations go here */
.row {
  margin-top: 20px;
  max-width: 80vw;
  padding: 20px;
}

a.btn.modal-trigger {
  margin: 20px;
}

.card {
  margin-top: 0;
}

.chip {
  margin-right: 10px;
}

.at-form {
  color: black !important;
}

/*#nav-mobile > li {
  margin-right: 150px;
}*/

/*div#login-buttons {
  color: black !important;
}

nav ul a {
  color: black;
}*/
