/* CSS declarations go here */
.row {
  max-width: 80vw;
  padding: 10px;
}

.center-align > a.btn.modal-trigger {
  margin: 20px;
}

.card {
  margin-top: 0;
}

.chip {
  margin-right: 10px;
}

.at-form {
  color: black !important;
}

button.waves-effect.red.lighten-1.waves-light.btn-flat.white-text {
  margin-left: 10px;
  margin-top: -5px;
}

.col.s12.m6.l6 {
  padding: 20px;
}

nav + .center-align {
  margin-top: 15px;
}
